body{
    font-family: "Poppins",sans-serif;
}
.promo-text{
    text-align: center;
    font-weight: bold;
    border: 1px red solid;
    background-color: red;
    color: #fff;
    border-radius: 20px;
}
.promo-text a{
    color: #fff;
}
.first-nav{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}
.first-nav ul{
    display: flex;
    list-style: none;
}
.first-nav li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 10px;
}
.first-nav a{
    text-decoration: none;
    color: #000;
}
.first-nav a:hover{
    border: 1px #000 solid;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    transition: 0.3s ease;
}
#search-engine{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}
.second-nav{
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}
.second-nav ul{
    display: flex;
    list-style: none;
}
.second-nav li{
    justify-content: space-between;
    margin: 5px 10px;
    text-decoration: none;
}
.second-nav a{
    text-decoration: none;
    color: #000
}
.second-nav a:hover{
    border: 1px #000 solid;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s ease;
}
.product-container{
    border: 1px solid #ffffff;
    padding: 30px;
    width: 300px;
    background-color: #ffffff;
    margin: -500px 900px;
}
.product-container img{
    max-width: 100%;
    height: auto;
    display: block; 
    margin-bottom: 10px;
}
.link-text{
    color: #000;
    font-size: 12px;
}
.link-text a{
    color: #000;
    text-decoration: none;
}
.link-text1 a{
    text-align: left;
}
.link-text2 a{
    text-align: right;
}
img{
    width: 400px;
    height: 550px;
    margin: 10px 350px;
}
#size{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px #000 solid;
    border-radius: 5px;
    width: 300px;
}
.cart{
    display: flex;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px #000 solid;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    width: 200px;
    justify-content: center;
}
.wishlist{
    display: flex;
    padding: 10px;
    margin: -40px 220px;
    font-size: 15px;
    font-weight: bold;
    border: 1px #000 solid;
    background-color: #ffffff;
    color: #000;
    border-radius: 5px;
    width: 100px;
    justify-content: center;
}
@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
      }
      .header {
        display: none;
      }
    .product-container{
        padding: 12px;
        width: 150px;
        background-color: #f4eeee;
        margin: -250px 4500px;
        flex-basis: 325px;
    }
}